body {
	line-height: 16px;
	padding:8px 0 16px;
	font-family:Arial;
	font-size:12px;
	background:#009EE0;
	text-align: center;
	margin-top: 0px;
	/*column-width: 200px;*/
}

a, b {
	color:#009EE0;
}
h3 {
	font-size:22px;
	color:#009EE0;
	line-height:normal;
	margin: 0px;
	padding-top: 0px;
	font-weight: 700;
}
h4 {
	font-size:18px;
	color:#000000;
	line-height:normal;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
	font-weight: 700;
}
td {
	text-align:left;
	}

.topinset { 
	background: url(imgs/insetsquare-top.png) no-repeat top;
	padding-top: 10px;
	}
.bottominset { 
	background: url(imgs/insetsquare-bot.png) no-repeat bottom;
	padding-top: 15px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
}
.bottominset-rates { 
	background: url(imgs/insetsquare-bot.png) no-repeat bottom;
	padding:15px 25px 25px 25px;
}
.bodytext {
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
}
.hometext {
	padding-top:15px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
}
.hometext b {
	font-size:14px;
	}
.body_links {color: #000000; font-family: Helvetica, Arial, Verdana, sans-serif; font-size: 13px; font-weight: normal; text-decoration: none; line-height: 16px; }
.body_links:link {color: #911111; font-family: Helvetica, Arial, Verdana, sans-serif; font-size: 13px; font-weight: normal; text-decoration: underline; line-height: 16px; }
.body_links:visited {color: #911111; font-family: Helvetica, Arial, Verdana, sans-serif; font-size: 13px; font-weight: normal; text-decoration: underline; line-height: 16px; }
.body_links:hover {color: #000080; font-family: Helvetica, Arial, Verdana, sans-serif; font-size: 13px; font-weight: normal; text-decoration: none; line-height: 16px; }
.body_links:active {color: #000080; font-family: Helvetica, Arial, Verdana, sans-serif; font-size: 13px; font-weight: normal; text-decoration: underline; line-height: 16px; }

.bottom-section {
	width:858px;
	padding:5px 25px 5px 25px;
	background-color:#ffffff;
	float:left;
}
.bottom-left {
	width:415px;
	float:left;
	text-align:left;
}
ul.bleft {
	color:#009ee0;
}
.bottom-right {
	width:395px;
	padding-left:20px;
	float:right;
	text-align:left;
}
.bottom-right img {
	padding-bottom:20px;
}
.bottom-right p {
	padding-right:30px;
}
.chartsection {
	background-color:ffffff;
	width:415px;
	padding:20px 0 0 0;
}
.chart-header {
	font-size:16px;
	color:#ffffff;
	padding:10px;
	background-color:#009bdc;
	text-align:left;
}
.chart-row {
	background-color:#ffffff;
}
.chart-category {
	float:left;
	width:278px;
	font-size:12px;
	text-align:left;
	padding:10px;
	border-left:1px solid #009bdc;
	border-bottom:1px solid #009bdc;
	border-right:1px solid #009bdc;
}
.chart-fee {
	float:left;
	width:84px;
	font-size:12px;
	text-align:left;
	padding:10px 10px 10px 20px;
	border-bottom:1px solid #009bdc;
	border-right:1px solid #009bdc;
}

.chartsection-small {
	background-color:ffffff;
	width:390px;
	padding:20px 0 0 0;
}
.chart-header-small {
	font-size:16px;
	color:#ffffff;
	padding:10px;
	background-color:#009bdc;
	text-align:left;
}
.chart-row-small {
	background-color:#ffffff;
}
.chart-category-small {
	float:left;
	width:273px;
	font-size:12px;
	text-align:left;
	padding:10px;
	border-left:1px solid #009bdc;
	border-bottom:1px solid #009bdc;
	border-right:1px solid #009bdc;
}
.chart-fee-small {
	float:left;
	width:64px;
	font-size:12px;
	text-align:left;
	padding:10px 10px 10px 20px;
	border-bottom:1px solid #009bdc;
	border-right:1px solid #009bdc;
}

.note {
	padding:50px 0 20px 0;
	font-size:10px;
	text-align:left;
	float:left;
	width:100%;
}
.leftside-txt {
	padding:0 0 0 25px;
	width: 35%;
	text-transform:uppercase;
	font-size: 36px;
	line-height:normal;
	font-weight:bold;
	color:#009EE0;
	float:left;
	margin:0px;
	vertical-align:top;
	}
.leftside-subtxt {
	padding:5px 25px 25px 25px;
	width: 35%;
	line-height:normal;
	float:left;
	margin:0px;
	vertical-align:top;
	}
.rightside-vid {
	float:right;
	width:45%;
	padding:5px 20px 0 0;
	margin:0px;
	vertical-align:top;
}
.rightside-txt {
	float:right;
	width:55%;
	padding:0 25px 0 0;
}
.rightside-txt p {
	text-align: left;
	padding:0 0 0 0;
	margin:0px;
}
.leftside-txt2 {
	padding: 25px;
	width: 40%;
	text-transform:uppercase;
	font-size: 36px;
	line-height:normal;
	font-weight:bold;
	color:#009EE0;
	float:left;
	margin:0px;
	vertical-align:top;
	}
.rightside-txt2 {
	float:right;
	width:45%;
	padding-top:25px;
	padding-right:20px;
	padding-bottom:15px;
	margin:0px;
	vertical-align:top;
}
.searchboxes {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #800000;
	font-weight: bold;
	text-decoration: none;
	background-color: #FFFFFF ! important;
	border-top: 1px solid #888888;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #888888;
	border-right: 1px solid #eeeeee;
}
.padbot {
	padding-bottom:20px;
	}
.padtop {
	padding-top:20px;
	}
.submit { background: url(imgs/continue_button.png) no-repeat; height: 31px; width: 175px; border: none; }
.submit:hover { background: url(imgs/continue_button_hover.png) 0 0px no-repeat; }


.logo { padding-right: 0px; padding-left: 0px; }
.logo h1 { margin: 0; padding: 0; border: 0; outline: 0; width: 93px; height: 60px; text-indent: -9999px; background: url(imgs/car2gologo.png); overflow: hidden;}

.email_link {
	color: #E1E1E1;
}
.phone_link {
	color: #FFF;
	appearance: normal;
}

#stage { text-align: center; }
#index #stage #world div img {
	padding-top: 0px;
	cursor: pointer ;
	border: 0;
	border-color: #FFF;
}
#apple
{
	padding-top: 0px;
	display:none;
}

#apple2
{
	display:none;
}

#movie
{
	padding-top: 0px;
}
.smallbodytext {
	font-family: Arial, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	text-align: justify;
}
.smallbodytext2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: justify;
	line-height: 9px;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
/* @group Footer */
.footer {
	padding: 0px 0 0px 0;	
	text-align: center;
}
.footer a {	
	text-decoration: none;
	color: #b3e1f3;
}
.footer li {
	padding: 0 45px 0 45px;
	list-style-type: none;
	display: inline;
	color: #b3e1f3;
	font-size: 13px;
	font-weight: bold;
}
/* @end */
/* @group AddThis */
.addthis_toolbox {
 padding-top: 5px;
}
/* @end*/
.questions {
	font-size:14px;
	font-weight:bold;
	line-height: 20px;
	}
.qaholder {
	position:relative;
	height: 300px;
	}
.faq {
	display:none;
	padding:10px;
	border-top: 1px solid #666;
}

.how2_gal{
	display: none;
}

div.faq b {
	font-size:14px;
	}
.backhome {
	float:right;
	}
iframe {
	/*display:inline;*/
	float:left;
}

html>body iframe {display:block;}